In [1]:
import json
from bson import json_util
import time
import dateparser as dp
from datetime import datetime as dt
import pymongo
import pandas as pd

In [2]:
data = json.load(open("../r2-jun-21.json",encoding="utf-8"))

In [3]:
def matchesDatetime(dataobject):
    for d in data:
        d['time_obj'] = dp.parse(d['time'])
        d['match_id'] = int(d['match_id'])
        if d['result_a']!='-':
            d['result_a'] = float(d['result_a'])
        else:
            d['result_a'] = 0.0
        if d['result_b']!='-':
            d['result_b'] = float(d['result_b'])
        else:
            d['result_b'] = 0.0

        if d['stats']!=[]:
            for s in d['stats']:
                s['rating'] = float(s['rating'])
                s['kpr'] = float(s['kpr'])
                s['1vx'] = int(s['1vx'])
                s['plant'] = int(s['plant'])

                s['hs'] = int(s['hs'].split('%')[0])
                s['kost'] = int(s['kost'].split('%')[0])
                s['srv'] = int(s['srv'].split('%')[0])
                
                #new attributes 
                s['kill'] = int(s['kd'].split('(')[0].split('-')[0])
                s['death'] = int(s['kd'].split('(')[0].split('-')[1])

                s['entry_kill'] = int(s['entry'].split('(')[0].split('-')[0])
                s['entry_death'] = int(s['entry'].split('(')[0].split('-')[1])


    data.sort(key=lambda r:r["time_obj"])
    return data
def allplayers(dataobject):
    players_dict={}
    players_list = []
    for items in dataobject:
        match_id = items["match_id"]
        team_a = items["team_a"]["name"]
        team_b = items["team_b"]["name"]
        roster_a = items["roster"]['team_a']
        roster_b = items["roster"]['team_b']
        time = items["time_obj"]
        for playerdetail in items["player_details"]:
            ign = playerdetail['ign']
            name = playerdetail['name']
            country = playerdetail['country']
            photo = playerdetail['photo']

            if ign in roster_a:
                player_team = team_a
            elif ign in roster_b:
                player_team = team_b
            else:
                player_team = "WildEntry"

            if ign in list(players_dict.keys()):
                if players_dict[ign]['name'] == "":
                    players_dict[ign]['name'] = name
                if players_dict[ign]['country'] == "":
                    players_dict[ign]['country'] = country
                if players_dict[ign]['photo'] == "":
                    players_dict[ign]['photo'] = photo
                if player_team not in list(players_dict[ign]['teams'].keys()):
                    players_dict[ign]['teams'][player_team] = time
            else:
                players_dict[ign] = {}
                players_dict[ign]['ign'] = ign
                players_dict[ign]['name'] = name
                players_dict[ign]['photo'] = photo
                players_dict[ign]['country'] = country
                players_dict[ign]['teams'] = {}
                players_dict[ign]['teams'][player_team] = time
                players_dict[ign]['allstats'] = []

        stats_p = []
        for p in items["stats"]:
            stats_p.append(p['name'])

        # player Rating and Player List
        for player in items["stats"]:
            ign = player["name"]
            player_stat = player
            player_stat['match_id'] = match_id
            del player_stat['name']
            if ign in roster_a:
                player_team = team_a
            elif ign in roster_b:
                player_team = team_b
            else:
                awild = not(all(p in stats_p for p in roster_a))
                bwild = not(all(p in stats_p for p in roster_b))
                if awild and bwild:
                    player_team = "WildEntry"
                elif awild:
                    player_team = team_a
                else:
                    player_team = team_b
            try:
                players_dict[ign]['allstats'].append(player_stat)
            except KeyError:
                players_dict[ign] = {}
                players_dict[ign]['ign'] = ign
                players_dict[ign]['name'] = ""
                players_dict[ign]['photo'] = ""
                players_dict[ign]['country'] = ""
                players_dict[ign]['teams'] = {}
                players_dict[ign]['teams'][player_team] = time
                players_dict[ign]['allstats'] = []
                players_dict[ign]['allstats'].append(player_stat)



    for id,player in enumerate(players_dict):
        ply = players_dict[player]
        ign = ply['ign']
        name = ply['name']
        photo = ply['photo']
        country = ply['country']
        allstats = ply['allstats']
        timeline = []
        for team in ply['teams']:
            timeline.append({
                'teamname' : team,
                'jointime' : ply['teams'][team]
            })

        players_list.append({
            'playerid':id+1,
            'ign' : ign,
            'name':name,
            'photo' : photo,
            'country': country,
            'aliases': [ign.lower(),ign.upper()],
            'total matches':len(allstats),
            'timeline' : timeline,
            'allstats': allstats
            })

    return players_list

In [4]:
sorted_data = matchesDatetime(data)
print("sorted")
players = allplayers(sorted_data)

sorted

In [5]:
print(len(players))
print(players[89])

2390
{'playerid': 90, 'ign': 'SafHiiZ', 'name': 'Wilson Marques', 'photo': 'https://pbs.twimg.com/profile_images/926890555719802880/sbTIn6th_400x400.jpg', 'country': 'France', 'aliases': ['safhiiz', 'SAFHIIZ'], 'total matches': 9, 'timeline': [{'teamname': 'Epsilon eSports', 'jointime': datetime.datetime(2016, 3, 24, 19, 0)}, {'teamname': 'Alpha Republic of Esport', 'jointime': datetime.datetime(2017, 9, 28, 19, 30)}, {'teamname': 'Team Oplon', 'jointime': datetime.datetime(2018, 3, 15, 19, 0)}], 'allstats': [{'rating': 0.92, 'kd': '10-12 (-2)', 'entry': '3-2 (+1)', 'kost': 60, 'kpr': 0.67, 'srv': 20, '1vx': 1, 'plant': 0, 'hs': 13, 'kill': 10, 'death': 12, 'entry_kill': 3, 'entry_death': 2, 'match_id': 3441}, {'rating': 0.89, 'kd': '11-14 (-3)', 'entry': '1-0 (+1)', 'kost': 56, 'kpr': 0.61, 'srv': 22, '1vx': 0, 'plant': 2, 'hs': 55, 'kill': 11, 'death': 14, 'entry_kill': 1, 'entry_death': 0, 'match_id': 3454}, {'rating': 0.39, 'kd': '2-11 (-9)', 'entry': '0-1 (-1)', 'kost': 25, 'kpr': 0.17, 'srv': 8, '1vx': 0, 'plant': 1, 'hs': 50, 'kill': 2, 'death': 11, 'entry_kill': 0, 'entry_death': 1, 'match_id': 3460}, {'rating': 1.01, 'kd': '7-9 (-2)', 'entry': '0-0 (+0)', 'kost': 64, 'kpr': 0.64, 'srv': 18, '1vx': 1, 'plant': 2, 'hs': 71, 'kill': 7, 'death': 9, 'entry_kill': 0, 'entry_death': 0, 'match_id': 3464}, {'rating': 1.08, 'kd': '14-11 (+3)', 'entry': '1-1 (+0)', 'kost': 80, 'kpr': 0.56, 'srv': 56, '1vx': 0, 'plant': 0, 'hs': 36, 'kill': 14, 'death': 11, 'entry_kill': 1, 'entry_death': 1, 'match_id': 3712}, {'rating': 0.52, 'kd': '6-14 (-8)', 'entry': '2-2 (+0)', 'kost': 40, 'kpr': 0.4, 'srv': 7, '1vx': 0, 'plant': 0, 'hs': 67, 'kill': 6, 'death': 14, 'entry_kill': 2, 'entry_death': 2, 'match_id': 3715}, {'rating': 0.62, 'kd': '8-14 (-6)', 'entry': '0-1 (-1)', 'kost': 53, 'kpr': 0.53, 'srv': 7, '1vx': 0, 'plant': 0, 'hs': 50, 'kill': 8, 'death': 14, 'entry_kill': 0, 'entry_death': 1, 'match_id': 3717}, {'rating': 0.67, 'kd': '6-10 (-4)', 'entry': '0-1 (-1)', 'kost': 36, 'kpr': 0.43, 'srv': 29, '1vx': 0, 'plant': 1, 'hs': 33, 'kill': 6, 'death': 10, 'entry_kill': 0, 'entry_death': 1, 'match_id': 32}, {'rating': 0.82, 'kd': '7-11 (-4)', 'entry': '1-2 (-1)', 'kost': 46, 'kpr': 0.54, 'srv': 15, '1vx': 0, 'plant': 1, 'hs': 80, 'kill': 7, 'death': 11, 'entry_kill': 1, 'entry_death': 2, 'match_id': 28}]}

In [19]:
print(players[89]['allstats'])

[{'rating': 0.92, 'kd': '10-12 (-2)', 'entry': '3-2 (+1)', 'kost': 60, 'kpr': 0.67, 'srv': 20, '1vx': 1, 'plant': 0, 'hs': 13, 'kill': 10, 'death': 12, 'entry_kill': 3, 'entry_death': 2, 'match_id': 3441}, {'rating': 0.89, 'kd': '11-14 (-3)', 'entry': '1-0 (+1)', 'kost': 56, 'kpr': 0.61, 'srv': 22, '1vx': 0, 'plant': 2, 'hs': 55, 'kill': 11, 'death': 14, 'entry_kill': 1, 'entry_death': 0, 'match_id': 3454}, {'rating': 0.39, 'kd': '2-11 (-9)', 'entry': '0-1 (-1)', 'kost': 25, 'kpr': 0.17, 'srv': 8, '1vx': 0, 'plant': 1, 'hs': 50, 'kill': 2, 'death': 11, 'entry_kill': 0, 'entry_death': 1, 'match_id': 3460}, {'rating': 1.01, 'kd': '7-9 (-2)', 'entry': '0-0 (+0)', 'kost': 64, 'kpr': 0.64, 'srv': 18, '1vx': 1, 'plant': 2, 'hs': 71, 'kill': 7, 'death': 9, 'entry_kill': 0, 'entry_death': 0, 'match_id': 3464}, {'rating': 1.08, 'kd': '14-11 (+3)', 'entry': '1-1 (+0)', 'kost': 80, 'kpr': 0.56, 'srv': 56, '1vx': 0, 'plant': 0, 'hs': 36, 'kill': 14, 'death': 11, 'entry_kill': 1, 'entry_death': 1, 'match_id': 3712}, {'rating': 0.52, 'kd': '6-14 (-8)', 'entry': '2-2 (+0)', 'kost': 40, 'kpr': 0.4, 'srv': 7, '1vx': 0, 'plant': 0, 'hs': 67, 'kill': 6, 'death': 14, 'entry_kill': 2, 'entry_death': 2, 'match_id': 3715}, {'rating': 0.62, 'kd': '8-14 (-6)', 'entry': '0-1 (-1)', 'kost': 53, 'kpr': 0.53, 'srv': 7, '1vx': 0, 'plant': 0, 'hs': 50, 'kill': 8, 'death': 14, 'entry_kill': 0, 'entry_death': 1, 'match_id': 3717}, {'rating': 0.67, 'kd': '6-10 (-4)', 'entry': '0-1 (-1)', 'kost': 36, 'kpr': 0.43, 'srv': 29, '1vx': 0, 'plant': 1, 'hs': 33, 'kill': 6, 'death': 10, 'entry_kill': 0, 'entry_death': 1, 'match_id': 32}, {'rating': 0.82, 'kd': '7-11 (-4)', 'entry': '1-2 (-1)', 'kost': 46, 'kpr': 0.54, 'srv': 15, '1vx': 0, 'plant': 1, 'hs': 80, 'kill': 7, 'death': 11, 'entry_kill': 1, 'entry_death': 2, 'match_id': 28}]

In [6]:
plydf = pd.DataFrame(players[89]['allstats'])
plydf

,rating,kd,entry,kost,kpr,srv,1vx,plant,hs,kill,death,entry_kill,entry_death,match_id
0,0.92,10-12 (-2),3-2 (+1),60,0.67,20,1,0,13,10,12,3,2,3441
1,0.89,11-14 (-3),1-0 (+1),56,0.61,22,0,2,55,11,14,1,0,3454
2,0.39,2-11 (-9),0-1 (-1),25,0.17,8,0,1,50,2,11,0,1,3460
3,1.01,7-9 (-2),0-0 (+0),64,0.64,18,1,2,71,7,9,0,0,3464
4,1.08,14-11 (+3),1-1 (+0),80,0.56,56,0,0,36,14,11,1,1,3712
5,0.52,6-14 (-8),2-2 (+0),40,0.40,7,0,0,67,6,14,2,2,3715
6,0.62,8-14 (-6),0-1 (-1),53,0.53,7,0,0,50,8,14,0,1,3717
7,0.67,6-10 (-4),0-1 (-1),36,0.43,29,0,1,33,6,10,0,1,32
8,0.82,7-11 (-4),1-2 (-1),46,0.54,15,0,1,80,7,11,1,2,28

In [75]:
plydf.entry_kill

match_id
3441    3
3454    1
3460    0
3464    0
3712    1
3715    2
3717    0
32      0
28      1
Name: entry_kill, dtype: int64

In [73]:
plydf.kill

match_id
3441    10
3454    11
3460     2
3464     7
3712    14
3715     6
3717     8
32       6
28       7
Name: kill, dtype: int64

In [9]:
plydf

,rating,kd,entry,kost,kpr,srv,1vx,plant,hs,kill,death,entry_kill,entry_death,match_id
0,0.92,10-12 (-2),3-2 (+1),60,0.67,20,1,0,13,10,12,3,2,3441
1,0.89,11-14 (-3),1-0 (+1),56,0.61,22,0,2,55,11,14,1,0,3454
2,0.39,2-11 (-9),0-1 (-1),25,0.17,8,0,1,50,2,11,0,1,3460
3,1.01,7-9 (-2),0-0 (+0),64,0.64,18,1,2,71,7,9,0,0,3464
4,1.08,14-11 (+3),1-1 (+0),80,0.56,56,0,0,36,14,11,1,1,3712
5,0.52,6-14 (-8),2-2 (+0),40,0.40,7,0,0,67,6,14,2,2,3715
6,0.62,8-14 (-6),0-1 (-1),53,0.53,7,0,0,50,8,14,0,1,3717
7,0.67,6-10 (-4),0-1 (-1),36,0.43,29,0,1,33,6,10,0,1,32
8,0.82,7-11 (-4),1-2 (-1),46,0.54,15,0,1,80,7,11,1,2,28

In [26]:
plydf.set_index('match_id',inplace=True)

In [27]:
plydf.index

Int64Index([3441, 3454, 3460, 3464, 3712, 3715, 3717, 32, 28], dtype='int64', name='match_id')

In [53]:
x = (plydf['plant'] == plydf.plant.max())

In [65]:
x

match_id
3441    False
3454     True
3460    False
3464     True
3712    False
3715    False
3717    False
32      False
28      False
Name: plant, dtype: bool

In [69]:
res = plydf[plydf['plant'] == plydf.plant.max()]

In [70]:
res

,rating,kd,entry,kost,kpr,srv,1vx,plant,hs,kill,death,entry_kill,entry_death
match_id,,,,,,,,,,,,,
3454,0.89,11-14 (-3),1-0 (+1),56,0.61,22,0,2,55,11,14,1,0
3464,1.01,7-9 (-2),0-0 (+0),64,0.64,18,1,2,71,7,9,0,0

In [72]:
list(res.index)

[3454, 3464]

In [29]:
import pymongo
import pandas as pd
client = pymongo.MongoClient("mongodb+srv://nameless_gambit:smtG886611@cluster0.zjdqc.mongodb.net/R6SDB?retryWrites=true&w=majority")
db = client.dbr6s
players = db.Players
res = players.find({ '$text' : {'$search' : '^.*pengu.*$'}})
print(res.count())

<ipython-input-29-97823c2d1896>:7: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  print(res.count())
1

In [30]:
result = res[0]
statsdf = pd.DataFrame(res[0]['allstats'])
statsdf.set_index('match_id',inplace=True)

In [31]:
statsdf

,rating,kd,entry,kost,kpr,srv,1vx,plant,hs,kill,death,entry_kill,entry_death
match_id,,,,,,,,,,,,,
3452,1.09,10-8 (+2),3-2 (+1),69,0.63,50,0,2,80,10,8,3,2
3447,0.89,9-12 (-3),1-2 (-1),56,0.50,33,1,1,56,9,12,1,2
3444,1.24,11-8 (+3),1-0 (+1),64,1.00,27,0,1,36,11,8,1,0
3455,1.65,15-6 (+9),5-0 (+5),92,1.25,50,0,1,73,15,6,5,0
3460,1.67,15-6 (+9),5-0 (+5),100,1.25,50,0,0,67,15,6,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4594,1.53,10-4 (+6),0-0 (+0),80,1.00,60,1,0,50,10,4,0,0
4597,0.62,4-8 (-4),1-2 (-1),30,0.40,20,0,1,25,4,8,1,2
4643,1.47,12-6 (+6),2-0 (+2),80,1.20,40,1,1,67,12,6,2,0
4949,0.91,12-15 (-3),1-3 (-2),63,0.50,38,0,2,42,12,15,1,3
4952,1.14,37-32 (+5),6-2 (+4),71,0.66,43,1,7,47,37,32,6,2

In [32]:
statsdf[statsdf.kill == statsdf.kill.max()]

,rating,kd,entry,kost,kpr,srv,1vx,plant,hs,kill,death,entry_kill,entry_death
match_id,,,,,,,,,,,,,
1958,1.1,39-33 (+6),3-4 (-1),67,0.81,31,1,2,36,39,33,3,4

In [33]:
list(statsdf[statsdf.kill == statsdf.kill.max()].index)

[1958]

In [111]:
statsdf.kill.sum()/statsdf.death.sum()

1.323220536756126

In [124]:
maxs = statsdf.max()
maxs.kill

39

In [130]:
statsdf.sum()

rating                                                    198.11
kd             10-8 (+2)9-12 (-3)11-8 (+3)15-6 (+9)15-6 (+9)1...
entry          3-2 (+1)1-2 (-1)1-0 (+1)5-0 (+5)5-0 (+5)2-0 (+...
kost                                                       11947
kpr                                                       140.24
srv                                                         6616
1vx                                                           56
plant                                                        105
hs                                                          6791
kill                                                        2268
death                                                       1714
entry_kill                                                   239
entry_death                                                  194
dtype: object

In [39]:
list(statsdf[statsdf.rating == statsdf.rating.min()].index)

[3116]

In [88]:
result['timeline']
timeline = {}
for t in result['timeline']:
    timeline[t['teamname']]= t['jointime'].strftime('%b %d %Y')
print(timeline)

{'PENTA Sports': 'Mar 04 2016', 'DefuseKids': 'May 02 2018', 'G2 Esports': 'Aug 13 2018'}

In [ ]:
result['total matches']

In [114]:
result = res[0]
ign  = result['ign']
name = result['name']
photo = result['photo']
country = result['country']
team = result['timeline'][-1]['teamname']
statsdf = pd.DataFrame(res[0]['allstats'])
statsdf.set_index('match_id',inplace=True)

#TOTAL PARAMS:
total_matches = result['total matches']
total_kill = statsdf.kill.sum()
total_death = statsdf.death.sum()
total_e_kill = statsdf.entry_kill.sum()
total_e_death = statsdf.entry_death.sum()
total_cluth = statsdf['1vx'].sum()
total_plant = statsdf.plant.sum()

#AVERAGE PARAMS:
avgs = statsdf.mean().round(2)

#MAX PARAMS:
maxs = statsdf.max()

#BEST AND WROST PARAMS:
best_r = statsdf.rating.max()
worst_r = statsdf.rating.min()
best = list(statsdf[statsdf.rating == statsdf.rating.max()].index)
wrost = list(statsdf[statsdf.rating == statsdf.rating.min()].index)

timeline = ""
for t in result['timeline']:
    timeline = timeline+f"{t['teamname']} on {t['jointime'].strftime('%b %d %Y')}\n"

cap_s = f"Ign:{ign}\nName:{name}\nCountry:{country}\nTeam:{team}\n\n"
cap_total = f"Total Matches:{total_matches}\nTotal Kills:{total_kill}\nTotal Deaths:{total_death}\nTotal Entry Kills:{total_e_kill}\nTotal Entry Deaths:{total_e_death}\nTotal Clutches:{total_cluth}\nTotal Plant:{total_plant}\n\n"
cap_avg = f"Average Stat:\n{avgs}\n\n"
cap_max = f"Max stst:\n{maxs}\n\n"
cap_bw = f"Best matches(Rating:{best_r}):{best}\nWrost Matches(Rating:{worst_r}):{wrost}\n\n"
cap_time = f"Player Timeline:\n{timeline}"

cap = cap_s+cap_total+cap_avg+cap_max+cap_bw+cap_time

In [115]:
print(cap)

Ign:Pengu
Name:Niclas Mouritzen
Country:Denmark
Team:G2 Esports

Total Matches:169
Total Kills:2268
Total Deaths:1714
Total Entry Kills:239
Total Entry Deaths:194
Total Clutches:56
Total Plant:105

Average Stat:
rating          1.17
kost           70.69
kpr             0.83
srv            39.15
1vx             0.33
plant           0.62
hs             40.18
kill           13.42
death          10.14
entry_kill      1.41
entry_death     1.15
dtype: float64

Max stst:
rating              1.8
kd             9-9 (+0)
entry          6-2 (+4)
kost                100
kpr                1.43
srv                  86
1vx                   2
plant                 7
hs                   80
kill                 39
death                33
entry_kill            6
entry_death           5
dtype: object

Best matches(Rating:1.8):[3478]
Wrost Matches(Rating:0.47):[3116]

Player Timeline:
PENTA Sports on Mar 04 2016
DefuseKids on May 02 2018
G2 Esports on Aug 13 2018