In [188]:
import pymongo
import pandas as pd
import itertools
import dateparser as dp
client = pymongo.MongoClient("mongodb+srv://nameless_gambit:smtG886611@cluster0.zjdqc.mongodb.net/R6SDB?retryWrites=true&w=majority")
db = client.dbr6s
teams = db.Teams
res = teams.find({ '$text' : {'$search' : '^.*tsm.*$'}})
print(res.count())
result = res[0]

<ipython-input-188-0e8efe2364ad>:9: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  print(res.count())
1

In [156]:
result['name']

'TSM'

In [157]:
tdf = pd.DataFrame(result['allmatches'])
tdf

,match_id,title,time,location,result,roster
0,1579,TSM 4 vs 7 92 Dream Team,2019-06-18T03:45,North America,LOSS,"[Achieved, b1ologic, Beaulo, Krusher, Merc]"
1,1581,Spacestation Gaming 6 vs 6 TSM,2019-06-20T01:15,North America,TIE,"[Achieved, b1ologic, Beaulo, Krusher, Merc]"
2,1602,Evil Geniuses 7 vs 4 TSM,2019-06-25T02:30,North America,LOSS,"[Achieved, b1ologic, Beaulo, Krusher, Merc]"
3,1682,Elevate 5 vs 7 TSM,2019-06-26T00:00,North America,WON,"[Achieved, b1ologic, Beaulo, Krusher, Merc]"
4,1684,TSM 7 vs 4 Pittsburgh Embers,2019-06-26T02:00,North America,WON,"[Achieved, b1ologic, Beaulo, Krusher, Merc]"
...,...,...,...,...,...,...
94,5679,FaZe Clan 2 vs 1 TSM,2021-05-19T12:00,"LAN, Paris,",LOSS,"[geoo, Chala, Achieved, Beaulo, Merc]"
95,5684,TSM 2 vs 0 Mkers,2021-05-20T12:00,"LAN, Paris,",WON,"[geoo, Chala, Achieved, Beaulo, Merc]"
96,5690,BDS Esport 1 vs 2 TSM,2021-05-21T09:00,"LAN, Paris,",WON,"[geoo, Chala, Achieved, Beaulo, Merc]"
97,5693,Oxygen Esports 0 vs 2 TSM,2021-05-21T15:00,"LAN, Paris,",WON,"[geoo, Chala, Achieved, Beaulo, Merc]"
98,5697,Team Liquid 2 vs 1 TSM,2021-05-22T14:30,"LAN, Paris,",LOSS,"[geoo, Chala, Achieved, Beaulo, Merc]"

In [199]:
win = int(tdf[tdf.result == "WON"].count().match_id)
loss = int(tdf[tdf.result == "LOSS"].count().match_id)
tie = int(tdf[tdf.result == "TIE"].count().match_id)
win/loss
round(win/loss,2)

1.97

In [168]:
explo = tdf.explode('roster').drop_duplicates(subset='roster')
explo

,match_id,title,time,location,result,roster
0,1579,TSM 4 vs 7 92 Dream Team,2019-06-18T03:45,North America,LOSS,Achieved
0,1579,TSM 4 vs 7 92 Dream Team,2019-06-18T03:45,North America,LOSS,b1ologic
0,1579,TSM 4 vs 7 92 Dream Team,2019-06-18T03:45,North America,LOSS,Beaulo
0,1579,TSM 4 vs 7 92 Dream Team,2019-06-18T03:45,North America,LOSS,Krusher
0,1579,TSM 4 vs 7 92 Dream Team,2019-06-18T03:45,North America,LOSS,Merc
19,1865,Team Empire 2 vs 1 TSM,2019-08-12T14:00,"LAN, Raleigh,",LOSS,Pojoman
23,1976,TSM 2 vs 0 Soniqs,2019-09-06T16:00,"LAN, Montreal,",WON,Jarvis
31,2126,TSM 3 vs 7 DarkZero Esports,2019-10-03T01:15,North America,LOSS,Gotcha
35,2583,TSM 2 vs 0 Evil Geniuses,2019-12-14T03:00,"LAN, Las Vegas,",WON,geoo
35,2583,TSM 2 vs 0 Evil Geniuses,2019-12-14T03:00,"LAN, Las Vegas,",WON,Timzy
58,3871,TSM 2 vs 0 Tempo Storm,2020-06-23T01:30,North America,WON,Chala

In [169]:
list(explo.time)
list(explo.roster)
timeline = []
for p,t in zip(list(explo.roster),list(explo.time)):
    timeline.append({
        'time': t,
        'player':p
    })

In [173]:
rt = pd.DataFrame(timeline).groupby('time')['player'].apply(list)
rt

time
2019-06-18T03:45    [Achieved, b1ologic, Beaulo, Krusher, Merc]
2019-08-12T14:00                                      [Pojoman]
2019-09-06T16:00                                       [Jarvis]
2019-10-03T01:15                                       [Gotcha]
2019-12-14T03:00                                  [geoo, Timzy]
2020-06-23T01:30                                        [Chala]
Name: player, dtype: object

In [198]:
tline = ""
for t,p in zip(rt.index,rt):
    tline = tline + f"{p} joined on {dp.parse(t).date()}\n"
print(tline)

['Achieved', 'b1ologic', 'Beaulo', 'Krusher', 'Merc'] joined on 2019-06-18
['Pojoman'] joined on 2019-08-12
['Jarvis'] joined on 2019-09-06
['Gotcha'] joined on 2019-10-03
['geoo', 'Timzy'] joined on 2019-12-14
['Chala'] joined on 2020-06-23

In [176]:

for t,p in rt.iterrow():
    t f"{t} joined on {p}\n"

AttributeError: 'Series' object has no attribute 'iterrow'

In [171]:
v = tdf.roster.to_list()
v
list(v for v,_ in itertools.groupby(v))

[['Achieved', 'b1ologic', 'Beaulo', 'Krusher', 'Merc'],
 ['Achieved', 'b1ologic', 'Beaulo', 'Merc'],
 ['Pojoman', 'Achieved', 'b1ologic', 'Beaulo', 'Merc'],
 ['Jarvis', 'Pojoman', 'Achieved', 'Beaulo', 'Merc'],
 ['Pojoman', 'Achieved', 'Gotcha', 'Beaulo', 'Merc'],
 ['geoo', 'Achieved', 'Beaulo', 'Merc', 'Timzy'],
 ['geoo', 'Pojoman', 'Achieved', 'Beaulo', 'Merc'],
 ['geoo', 'Chala', 'Achieved', 'Beaulo', 'Merc']]

time
2019-06-18T03:45    [[Achieved, b1ologic, Beaulo, Krusher, Merc]]
2019-06-20T01:15    [[Achieved, b1ologic, Beaulo, Krusher, Merc]]
2019-06-25T02:30    [[Achieved, b1ologic, Beaulo, Krusher, Merc]]
2019-06-26T00:00    [[Achieved, b1ologic, Beaulo, Krusher, Merc]]
2019-06-26T02:00    [[Achieved, b1ologic, Beaulo, Krusher, Merc]]
                                        ...
2021-05-19T12:00          [[geoo, Chala, Achieved, Beaulo, Merc]]
2021-05-20T12:00          [[geoo, Chala, Achieved, Beaulo, Merc]]
2021-05-21T09:00          [[geoo, Chala, Achieved, Beaulo, Merc]]
2021-05-21T15:00          [[geoo, Chala, Achieved, Beaulo, Merc]]
2021-05-22T14:30          [[geoo, Chala, Achieved, Beaulo, Merc]]
Name: roster, Length: 99, dtype: object